%h1  "Hi #{params[:user].email}"

%span = "Someone requested a reset of your password"
%span = " if this was you, click the link below to reset your password. The link will expire in 15 mins."

= password_reset_edit_url(token: @token)